<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.sign_up">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/title"
            android:name="socket.Connect_Application"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:requestLegacyExternalStorage="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.example.sign_up.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Main_activity">
        </activity>
        <activity
                android:name=".Main_common">
        </activity>
        <activity
                android:name="com.example.sign_up.toComputer"
                android:exported="true">
        </activity>
        <activity
                android:name="com.example.sign_up.search"
                android:exported="true"
                tools:ignore="MissingClass">
        </activity>
        <activity
                android:name="com.example.sign_up.search2"
                android:exported="true">
        </activity>
        <activity
                android:name="com.example.sign_up.sign_up1"
                android:exported="true">

        </activity>
        <activity
                android:name="com.example.sign_up.sign_up2"
                android:exported="true">

        </activity>
        <activity
                android:name="com.example.sign_up.sign_up3">

        </activity>
        <activity
                android:name="com.example.sign_up.shanData">

        </activity>
    </application>

</manifest>